/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* My Code */
:root {
  font-family: "Work Sans", sans-serif;
  background-color: black;
  color: white;
  --title-color: rgb(0, 99, 230);
  --progressBar-color: #007419;
  --saved-border-color: #0063e6;
}
main {
  display: flex;
}
.container {
  background-color: black;
  width: 40%;
  height: auto;
  padding-bottom: 1em;
  border: 0.2em solid rgb(216, 216, 216);
  border-radius: 3em;
  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;

  gap: 0.1em;
}
.display {
  display: flex;
  justify-content: center;
}
.timer {
  font-weight: normal;
  font-size: 9vw;
  text-size-adjust: auto;
  text-align: center;
  color: var(--title-color);
  margin-top: 0.32em;
}
.cornerDisplay {
  width: 6.5em;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 42.8em;
  font-size: 1.4vw;
  text-align: center;
  color: var(--title-color);
  gap: 0.2em;
}
.roundsDisplay {
  transform: scale(2);
  margin-top: 0.5em;
}

.options {
  padding-top: 1em;
  text-align: center;
  display: grid;
  justify-content: center;
  gap: 0.8em;
  margin-left: -4em;
}

.options label {
  display: inline-block;
  width: 4em;
  font-size: 1.4rem;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5em;
}
.options input[type="number"] {
  padding-left: 0.5em;
}
.options input[type="number"]:not(.timeInput) {
  width: 6.2em;
  height: 1.2em;
  font-size: 1.5vw;
  border-radius: 0.5em;
  border: none;

  background-color: rgb(182, 182, 182);
  text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
.options input[type="number"]:not(.timeInput):focus {
  outline: none;
  background-color: rgb(207, 207, 207);
  outline: 3px solid var(--title-color);
}

.options input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

.inputBox {
  display: flex;
  gap: 0.2em;
}
.inputBox span {
  margin: 0 0.2em;
  margin-top: 0.32em;
  transform: scale(2);
}

.options .timeInput {
  width: 2.8em;
  height: 1.2em;
  font-size: 1.5vw;
  border-radius: 0.5em;
  border: none;
  outline: none;
  background-color: rgb(182, 182, 182);
  text-align: center;
  display: inline-block;
}

.options input:focus {
  outline: none;
  background-color: rgb(240, 240, 240);
  outline: 3px solid var(--title-color);
}

.options input:focus::placeholder {
  color: transparent;
}
.options div {
  display: flex;
  flex-direction: row;
}
.options input[type="color"] {
  margin-left: 0.3em;
  background-color: black;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  border: none;
  outline: none;
  cursor: pointer;
}

.options input[type="color"]::-webkit-color-swatch {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.fade-out {
  transition: all 0.3s ease-in-out; /*if changed, also change the js timeout ms to be the same */
  opacity: 0;
}

.btn {
  transition: all 0.3s;
  transition-delay: 0.3s;
}
.inputTransition {
  transition: all 0.3s;
}
button:not(.deleteBtn) {
  transition: transform 0.3s;
}
button:hover:not(.deleteBtn) {
  transform: scale(1.03, 1.03);
}
.buttons {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons button {
  width: 5em;
  border: 2px solid black;
  border-radius: 0.75em;
  text-align: center;
  cursor: pointer;
}

.buttons .start {
  background-color: #05a630;
}

.buttons .stop {
  background-color: #ad002b;
}
.buttons .reset {
  background-color: rgb(226, 226, 226);
}

.buttons .control button {
  font-size: 2rem;
  margin: 0.2em;
}
.workoutName {
  width: 12em;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(202, 202, 202);
  color: #ccc;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  text-align: center;
}
.save {
  margin-top: 1.6em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.saveWorkoutBtn {
  border: 2px solid black;
  padding: 0.2em 0.5em;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--saved-border-color);
  color: black;
  border-radius: 0.9em;
  cursor: pointer;
}
/* PROGRESS BAR*/
progress {
  margin: 0 auto;
  min-height: 2em;
  width: 62%;
  height: 2.5em;
  border-radius: 0.3em;
  background-color: #000000;
}

#progressBar::-webkit-progress-value {
  background-color: var(--progressBar-color);
}

progress::-webkit-progress-bar {
  border-radius: 0.3em;
}
progress::-webkit-progress-value {
  border-radius: 0.3em;
}
progress::-moz-progress-bar {
  border-radius: 0.3em;
}
.button_bar_div button {
  color: #000000;
}
.settings {
  position: absolute;
  right: 0;
  margin-top: 1.4em;
  padding-right: 1.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gear-button-container {
  display: inline-block;
  cursor: pointer;
  margin-right: 0.5em;
}
.gear-button {
  width: 2.5em;
  height: 2.5em;
  background-size: 2.5em 2.5em;
  background-color: transparent;
  fill: white;
  color: blue;
  border: none;
  outline: none;
  cursor: pointer;
}
.settings path,
.settings svg {
  pointer-events: none;
}
.toggles {
  display: flex;
  opacity: 0;
  justify-content: start;
  flex-direction: column;
  margin: 0;
  margin-top: 0.8em;
  margin-right: 0.8em;
  gap: 0.4em;
  transition: opacity 0.25s;
}
.toggle-on {
  opacity: 1;
  visibility: visible;
}
.checkBtn {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.1rem;
  gap: 0.4em;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

input:checked[type="checkbox"] {
  background: var(--title-color);
}

input[type="checkbox"]::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.4s;
}

input:checked[type="checkbox"]::after {
  left: 50%;
}
.move-down {
  transition: transform 0.75s;
  transform: translateY(5.5em);
}
.move-up {
  transition: transform 0.75s;
  transform: translateY(0em);
}

/* ///   SIDEBAR   /// */

aside .sidebar {
  margin: 1.1em;
  margin-top: 3em;
  padding-left: 2.5em;
  position: absolute;
  width: 14.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  justify-content: center;
}

.deleteBtn {
  float: right;
  background-color: red;
  min-width: 0.4em;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  padding: 0.8em 0.8em;
  border: none;
  cursor: pointer;
  position: relative;
}

.deleteBtn::before,
.deleteBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  width: 10px;
  height: 1px;
  margin-top: -0.5px;
  margin-left: -5px;
}

.deleteBtn::before {
  transform: rotate(45deg);
}

.deleteBtn::after {
  transform: rotate(-45deg);
}

.deleteBtn:hover {
  background-color: darkred;
}

.deleteBtn:active {
  background-color: lightred;
}
.colorSaved {
  margin-top: 0.2em;
  margin-right: 0.5em;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
}
/* ///// */

.workout {
  width: 20em;
  background-color: black;
  padding: 1em;
  padding-bottom: 0.5em;
  border: 2px solid var(--title-color);
  border-radius: 1em;
}

.workout .title {
  text-align: center;
  font-size: 1.6rem;
}

.workout .data {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.workout .startWorkout {
  display: flex;
  justify-content: center;
}
.workout .startWorkout button {
  border: 2px solid black;
  margin-top: 0.5em;
  padding: 0.08em 0.4em;
  border-radius: 0.75em;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--title-color);
  color: black;
}

@media screen and (max-width: 1366px) {
  main {
    display: flex;
    gap: 4em;
  }
  .workout .data {
    display: flex;
    flex-direction: column;
  }
  .workout .data p:nth-of-type(1) {
    order: 1;
  }
  .workout .data p:nth-of-type(2) {
    order: 3;
  }
  .workout .data p:nth-of-type(3) {
    order: 2;
  }
  .workout .data p:nth-of-type(4) {
    order: 4;
  }
  .workout {
    width: 20vw;
  }
  .timer {
    font-size: 10vw;
    margin-top: 0.4em;
  }
  .cornerDisplay {
    left: 45em;
    font-size: 1.5vw;
  }

  .container {
    width: 50%;
    height: auto;
  }
  .buttons .control {
    display: flex;
    flex-wrap: nowrap;
  }
  .buttons button {
    margin: 0.2em;

    width: 10vw;
    border: 2px solid black;
    border-radius: 0.75em;
  }
  .buttons .control button {
    font-size: 1.5em;
    margin: 0.2em;
  }
  .options {
    margin-left: 0;
  }
  .options input[type="number"] {
    width: 3em;
    font-size: 1.2rem;
  }
  .options #rounds {
    margin-left: 0.3em;
    width: 6em;
    font-size: 1.2rem;
  }
  .options .timeInput {
    width: 2.4em;
    font-size: 1.2rem;
  }

  aside {
    margin-right: 3em;
  }
  .inputBox span {
    /* margin: 0 0.2em; */
    margin-top: 0.1em;
    transform: scale(1.8);
  }
  .workout .title {
    white-space: nowrap;
    font-size: 1.2rem;
  }
  .workout .data p:nth-of-type(1) {
    width: 6em;
  }
  .workout .data p:nth-of-type(2),
  .workout .data p:nth-of-type(3),
  .workout .data p:nth-of-type(4) {
    width: 8em;
  }
}

@media screen and (max-width: 1170px) {
  .timer {
    margin-top: 0.6em;
  }
  .cornerDisplay {
    margin-top: 0.8em;
    left: 32.5em;
    font-size: 2vw;
  }

  .settings {
    margin-top: 0.3em;
  }

  .gear-button {
    width: 2.4em;
    height: 2.4em;
    background-size: 2.4em 2.4em;
  }
  .toggles {
    font-size: 0.2rem;
    gap: 1em;
  }
  .checkBtn {
    padding: 0.3em;
  }
  .checkBtn span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    margin-top: 0.8em;
  }
  aside .sidebar {
    margin-top: 0.8em;
  }
  .timer {
    font-size: 12vw;
    margin-top: 0.85em;
  }
  .cornerDisplay {
    left: 20em;
    font-size: 3vw;
  }

  .settings {
    position: relative;
    display: flex;
    height: 2.35em;
    align-items: end;
  }

  .toggles {
    flex-direction: column;
  }

  .checkBtn {
    min-width: 10em;
  }
  .checkBtn span {
    display: inline-block;
  }
}
@media screen and (max-width: 815px) {
  main {
    gap: 1em;
    display: flex;
    flex-direction: column-reverse;
  }
  .container {
    width: 68vw;

    margin-bottom: 0.5em;
  }

  .workout {
    width: 50vw;
    margin: 0 auto;
  }

  aside .sidebar {
    margin-left: 2em;
    margin-top: -0.2em;

    gap: 1em;
    position: static;
    width: inherit;
  }

  .buttons button {
    width: 17vw;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    border-width: 1px;
  }
  .buttons .control button {
    font-size: 1.35em;
  }
  .buttons button {
    width: 20vw;
  }
  .timer {
    margin-top: 20%;
    font-size: 4em;
  }
  .cornerDisplay {
    margin-top: 0.8em;
    left: 7.8em;
    font-size: 4.5vw;
  }
  .options label {
    margin-left: 0.1em;
    font-size: 0.9rem;
  }
}
@media screen and (max-height: 780px) {
  main {
    gap: 2em;
  }
  aside .sidebar {
    padding-left: 0.2em;
    margin-top: 1em;
  }
  .container {
    margin-top: 1em;
  }
  .options {
    gap: 0.3em;
  }
  .buttons {
    margin-top: 3%;
  }
  .buttons .control button {
    font-size: 1.5rem;
  }
  .timer {
    font-size: 7rem;
  }
}
@media screen and (max-height: 680px) and (orientation: landscape) and (max-width: 1000px) {
  .settings {
    position: fixed;
  }
  .cornerDisplay {
    font-size: 1.4em;
    left: 27.2em;
    margin-top: 0.2em;
  }
  .timer {
    margin-top: 0.42em;
  }
}
@media screen and (max-height: 600px) and (orientation: landscape) and (max-width: 1000px) {
  .container {
    background-color: #353836;
  }
  .options label {
    font-size: 1rem;
  }
  .buttons .control button {
    font-size: 1.2rem;
  }
  progress {
    height: 3vh;
  }
  .timer {
    font-size: 5rem;
    position: relative;
  }
  .cornerDisplay {
    position: absolute;
  }
}
